/*css for home*/
.data{
    padding: 50px;
}
.home_card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.welcome{
    text-align: center;
}

.home_card:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
    background-color: rgb(238, 238, 238);
}

h3 {
    color: #333;
}

p {
    margin: 5px 0;
}

meter {
    width: 200px;
    height: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}


.logo_Container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
