/*css created for three common page elements*/
body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
/*Top navigation bar*/
.decorativeTop {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2d2e; 
    width: 100%;
    box-sizing: border-box;
}  

/*Navigation area of css*/
  .Navigation {  
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.Navigation a,.Navigation span {
    flex: 1;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}

.Navigation span.current{
    background-color: rgb(70, 164, 132);
}
/*The name used to make web pages*/
.webName{
    flex: 1;
    text-align: center;
    align-items: center;
}

.webName .text1 {  
    color: white;  
    font-size: 18px;
}  
  
.webName .text2 {  
    margin-left: -3px;
    color: rgb(70, 164, 132);  
}